// SCSS VARIABLES
$white: #fff;
$light: #f2f4f6;
$orange: #fa824c;
$orange_hover: #fba179;
$orange_active: #e45a1c;
$blue: #3c91e6;
$blue_hover: #82b9ef;
$blue_active: #1b79d8;
$positive: #29bd68;
$negative: #dc5757;
$warning: #f2b821;
$text: #161616;
$caption: #8d8d94;
$disable: #babbc2;
$container: #f8f9fa;
$border: #dee3e9;
$border_disable: #f4f4f4;
